.search-button-container {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: $background-default;
  box-shadow: 0 4px 4px 0 rgba(33, 33, 33, 0.15);

  .search-button {
    width: 100%;
    height: 100%;
  }
}