.disruption-info .icon.disruption-info {
  padding-left: 2vh;
  width: 2em;
  fill: $disruption-color;
}

.disruption-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .stop-tab-container {
    flex: 0 0 auto;
  }

  .stop-tab-singletab,
  .stop-tab-singletab:hover {
    padding: 10px 0 10px 0;
    background-color: white;
    border-top-color: white;
  }

  .disruption-list-content {
    flex: 1;
    padding: 0 0.5em;

    &.disruption-list-content__large {
      padding: 0 1em;
    }

    h2 {
      margin: $padding-medium $padding-small $padding-small $padding-small;
    }

    .alert-row + .alert-row {
      border-top: none;
    }

    .route-number {
      min-width: 48px;
    }
  }
}

.alerts-content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: $background-default;
  padding: 0;

  &.bp-large {
    padding: 0 3.5rem 0 3.5rem;
  }

  @media print {
    display: block;
  }
}

.alerts-list-wrapper {
  margin-top: 14px;

  &.bp-large {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  @media print {
    display: block !important;
    overflow: auto !important;
  }
}

.alerts-list {
  background: $background-default;
  padding-bottom: 0.7em;
  flex: 1;
  flex-basis: 0;

  &.bp-large {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .alert-row {
    display: flex;
    position: relative;
    border-radius: 8px;
    background: #fafafa;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.31);
    margin: 16px;
    padding: 24px 16px 16px 16px;

    .icon.stop-disruption {
      width: 2em;
      color: #fff;

      &.warning {
        fill: $disruption-color;
      }

      &.info {
        fill: $gray-blue;
      }
    }

    .alert-row-link {
      padding-right: 4px;
      text-decoration: none;
    }

    + .alert-row {
      border-top: 1px solid $light-gray;
    }

    .alert-contents {
      flex-grow: 1;
      vertical-align: bottom;

      .alert-top-row {
        align-items: center;
        font-size: 15px;

        .route-alert-entityid {
          font-family: $font-family-narrow;
          font-size: 21px;
          font-weight: $font-weight-medium;
          margin-right: 15px;
          display: inline;
        }
      }
    }

    .route-number {
      padding-top: 0.2em;
      padding-right: 0.8em;
      flex-shrink: 0;

      .icon {
        width: 2.5em;
        height: 2.5em;
        position: relative;

        .subicon-info,
        .subicon-caution {
          bottom: -5px;
          left: -5px;

          .icon {
            height: 1.5em;
            width: 1.5em;
          }
        }
      }

      .vehicle-number {
        margin-top: -0.3em;
        font-size: $font-size-xsmall;
      }
    }

    .alert-body {
      color: $grey-dark-down;
      font-family: $font-family;
      font-size: $font-size-base;
      font-style: normal;
      font-weight: $font-weight-book;
      line-height: normal;
    }

    .alert-url-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;

      .alert-url {
        span.external-link-container {
          border: none;
          padding: 0;

          a {
            color: $primary-main;
            font-family: $font-family;
            font-size: $font-size-s;
            font-style: normal;
            font-weight: $font-weight-book;
            line-height: 16px;
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-skip-ink: none;
            text-decoration-thickness: auto;
            text-underline-offset: auto;
            text-underline-position: from-font;
          }
        }
      }

      span.icon-container {
        display: flex;
        align-self: baseline;
        color: $primary-main;
      }
    }

    &.expired {
      filter: grayscale(1);

      .route-number {
        filter: brightness(1.5);
      }

      .caution {
        filter: contrast(0.6) brightness(1.5);
      }
    }

    .row-alert-time {
      color: $grey-dark-up;
      font-family: $font-family;
      font-size: $font-size-s;
      font-style: normal;
      font-weight: $font-weight-book;
      line-height: 16px;
    }

    .row-alert-header {
      color: $primary-dark;
      font-family: $font-family;
      font-size: $font-size-base;
      font-style: normal;
      font-weight: $font-weight-medium;
      line-height: 24px;
      margin-top: 12px;
    }
  }
}

.desktop {
  .alerts-content-wrapper {
    padding: 0 45px 0 40px;
  }
}
