.list-page {
    margin-top: 25px;
    display: flex;
    position: relative;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 20px;
    padding: 0; 
    overflow-y: auto;

    @media (min-width: 900px) {
        margin-top: 88px;
        row-gap: 24px;
        padding: 20px 0 20px 0;
    }
}