@import '~@hsl-fi/sass/colors';
@import '~@hsl-fi/sass/mixins/screen';
@import '~@hsl-fi/sass/mixins/text';
@import '../theme';

@mixin default-focus-outline {
  /* First apply outline that is used in Edge and Firefox */
  outline: 1px dotted #212121;

  /* Then override outline for webkit browsers like Chrome, this has no effect on other browsers */
  outline: 5px auto -webkit-focus-ring-color; /* stylelint-disable-line declaration-block-no-duplicate-properties */
}

$zindex: base, map-container, map-gradient, map-fullscreen-toggle, map-buttons,
  context-panel, search-panel, search-overlay, stop-route-station-input,
  destination-input, viapoint-input-5, viapoint-input-4, viapoint-input-3,
  viapoint-input-2, viapoint-input-1, origin-input, search-input-focus,
  search-input-icon, autosuggest-suggestion-container, front;

.sr-only:not(:focus, :active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.dt-datetimepicker {
  border: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-weight: var(--font-weight-medium);

  button,
  label {
    font-size: 1em;
    font-weight: inherit;
  }

  label button {
    cursor: pointer;
    font-family: 'Gotham Rounded A', 'Gotham Rounded B', Roboto, Arial, Georgia,
      serif;
  }

  .hidden {
    display: none;
    padding: 0 !important;
  }

  .datetimepicker-open-container {
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    position: relative;
    flex-direction: column;
  }

  .top-row-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 8px;
    padding-top: 10px;
    align-items: center;

    .time-icon {
      svg {
        width: 18px;
        height: 19px;
      }
    }

    .dropdown-icon {
      margin-left: 9px;
      position: relative;
      top: 1px;

      svg {
        width: 14px;
        height: 10px;
      }
    }

    .close-icon {
      svg {
        width: 15px;
        height: 15px;
        border-radius: 1px;
        fill: $primary-dark;

        path {
          stroke-width: 30;
        }
      }
    }

    label {
      cursor: pointer;

      &.label-open {
        align-items: flex-start;
        display: flex;
      }
    }
  }

  .textbutton {
    margin-left: 9px;
    margin-top: 1px;
    background: none;
    border: none;
    color: #666;
    padding: 0;

    @include min-width(tablet) {
      margin-left: 14px;
    }

    &.active {
      color: $primary-main;
    }
  }

  .combobox-left {
    position: relative;
    margin-right: 4px;
    width: 115px;
  }

  .combobox-right {
    position: relative;
    margin-left: 4px;
    width: 110px;
  }

  .departure-or-arrival-container {
    background-color: transparent;
    border-radius: 8px;
    width: fit-content;
    display: flex;
    position: relative;
    flex-direction: row;
    flex-grow: 1;
  }

  .radio-textbutton-label {
    display: flex;
    position: relative;
    width: 42%;
    min-width: 70px;
    color: $primary-color;
    background: $background-default;
    padding: 8px;
    cursor: pointer;
    border: 1px solid $grey-light-down;
    font-weight: $font-weight-regular;
    border-radius: 0 8px 8px 0;
    font-size: $font-size-base;
    align-items: center;
    justify-content: center;

    &.active {
      font-weight: $font-weight-semibold !important;
      background: $primary-color;
      color: $primary-contrastText;
    }

    &:focus-within {
      @include default-focus-outline;
    }

    &.left {
      border-radius: 8px 0 0 8px;
    }
  }

  .radio-textbutton {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .departure-now-button {
    min-width: 90px;
    font-family: inherit;
    padding: 8px;
    border: 1px solid $grey-light-down;
    border-radius: 8px;
    font-weight: $font-weight-regular !important;
    font-size: $font-size-base !important;
    color: $primary-color !important;
    background: $background-default;

    &.active {
      font-weight: $font-weight-semibold !important;
      background: $primary-color;
      color: $primary-contrastText !important;
    }
  }

  .open-button {
    display: flex;
    margin-bottom: 0;
    margin-top: -1px;
    padding: 2px 0 2px 0;
  }

  button.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    border: 0;
    font-weight: normal;
    background: none;
    padding: 0;
    line-height: normal;
  }

  .right-edge {
    margin-left: auto;
    margin-right: 0;
    position: relative;
    top: -2px;
  }

  .combobox-container {
    cursor: pointer;
  }

  .combobox-icon {
    color: var(--color);
    height: 40px;
    position: absolute;
    z-index: index($zindex, 'search-panel');
    pointer-events: none;

    &.date-input-icon {
      display: flex;
      align-items: center;
      padding: 0;
      color: $primary-dark;
      margin-left: 8px;

      svg {
        width: 22px;
        height: 22px;
      }
    }

    &.time-input-icon {
      display: flex;
      align-items: center;
      padding: 0;
      margin-left: 8px;
      color: $primary-color;

      svg {
        margin-top: 1px;
        width: 22px;
        height: 22px;
      }
    }
  }

  :global .datetimepicker-invalid-input {
    input {
      color: #f00 !important;
    }
  }

  .datetimepicker-select-container {
    position: relative;
    display: flex;
    height: 40px;

    // use global scope because react-select is not quite compatible with csss module local scoping
    :global .datetimepicker-select__control {
      display: flex;
      position: relative;
      cursor: inherit;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 8px;
      background-color: $background-default;
      border: 1px solid $grey-light-down;
      border-radius: 8px;
    }

    :global .datetimepicker-select__value-container {
      display: flex;
      position: relative;
      padding: 0;

      > div {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        color: $primary-dark;
      }
    }

    :global .datetimepicker-select__single-value {
      margin: 0 0 0 30px;
      color: $primary-color;
      font-size: $font-size-base;
      font-weight: $font-weight-regular;
    }

    :global .datetimepicker-select__input {
      background: inherit;
      position: relative;
      display: flex;
      height: auto;
      margin-left: 30px;
      color: $primary-color;
      font-size: $font-size-base;
      font-weight: $font-weight-regular;

      input {
        opacity: 1 !important; // TODO
        background: inherit;
        box-shadow: none;

        &:focus {
          box-shadow: none;
          outline: none;
          border: none;
        }
      }
    }

    :global .datetimepicker-select__menu {
      z-index: index($zindex, 'autosuggest-suggestion-container');
      padding: 0;
      background: $background-default;
      max-height: 250px;
      border-radius: 8px;
      box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.06);
      border: 1px rgba(0, 0, 0, 0.3) solid;
      overflow: hidden;

      :global .datetimepicker-select__menu-list {
        max-height: 250px;
        padding: 0;

        :global .datetimepicker-select__option {
          height: 50px;
          border-bottom: 0.5px rgba(0, 0, 0, 0.3) solid;
          padding: 13px 0 0 12px;
          font-weight: $font-weight-regular;
          font-size: $font-size-l;
          letter-spacing: -0.6px;
          color: rgba(0, 0, 0, 0.96);

          &--is-selected {
            background: $grey-light-down;
          }

          &--is-focused {
            background: $grey-light-up;
          }
        }
      }
    }
  }

  .picker-container {
    margin: 14px calc(100% - 84% - 16px) 0 0;
    display: flex;
    justify-content: flex-end;
  }

  .combobox-mobile-container {
    flex-grow: 1;
  }
}

.mobile-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.mobile-modal-content {
  font-family: 'Gotham Rounded A', 'Gotham Rounded B', Roboto, Arial, Georgia,
    serif;
  background: white;
  width: 89%;
  position: absolute;
  left: 5.5%;
  padding: 31px 20px 33px 20px;
  top: 80px;
  border-radius: 5px;

  .top-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;

    .modal-title {
      font-weight: var(--font-weight-medium);
      font-size: 20px;
      line-height: 18px;
      letter-spacing: -0.5px;
      color: #333;
      padding: 6px 0 0 8px;
    }

    .departure-now-button {
      background-color: white;
      font-family: inherit;
      padding: 5px 15px;
      border: 1px solid #888;
      border-radius: 50px;
      font-weight: var(--font-weight-medium);
      font-size: 15px;
      line-height: 18px;
      letter-spacing: -0.02em;
      color: var(--color);
    }
  }

  .tab-row {
    display: flex;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-bottom: 16px;
    background-color: #ddd;

    .radio-tab-label {
      padding: 9px 0;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: -0.5px;
      border-radius: 3px;
      font-weight: normal;
      width: 50%;
      text-align: center;
      color: #333;

      &.active {
        font-weight: var(--font-weight-medium);
        background-color: #fff;
      }
    }

    .radio-textbutton {
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }
  }

  .input-row {
    display: flex;
    margin-bottom: 25px;

    label:first-child {
      flex-basis: 60%;
      margin-right: 10px;
    }

    label:nth-child(2) {
      flex-basis: 40%;
    }

    .input-container {
      border: 1px solid #888;
      border-radius: 5px;
      display: flex;
      align-items: center;
      height: 40px;
      line-height: 1.5;
      font-size: 100%;

      &:focus-within {
        background: rgba(0, 122, 201, 0.06);
        border: 2px solid var(--color);
      }

      .combobox-icon {
        height: 18px;
        font-size: 18px;
        padding: 0 0 0 10px;
        border: none;
        position: relative;
        top: 3px;

        &.time-input-icon > svg {
          height: 20px;
        }
      }

      :global .mobile-datetimepicker-invalid-input {
        color: #f00 !important;
      }

      .time-input-mobile {
        font-family: inherit;
        box-shadow: none;
        font-size: 18px;
        letter-spacing: -0.5px;
        line-height: 20px;
        font-weight: var(--font-weight-medium);
        border: none;
        outline: none;
        background: none;
        width: 50px;
        margin-left: 10px;
        color: #333;
        height: 1.5265rem;
      }

      .mobile-input-display {
        position: relative;
        left: 10px;
        border: none;

        &:focus {
          outline: none;
          box-shadow: none;
          background: none;
        }

        background: inherit;
        box-shadow: none;
        font-family: inherit;
        font-weight: var(--font-weight-medium);
        font-stretch: normal;
        font-style: normal;
        font-size: 16px;
        line-height: 1.33;
        letter-spacing: -0.5px;
        color: #333;
      }

      .mobile-input-hidden {
        font-size: 16px;
        margin-bottom: 12px;
        height: 0;
        width: 0;
        background: inherit;
        color: transparent;
        outline: none;
        box-shadow: none;
        border: none;

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

      .container {
        position: absolute;
        width: calc((100% - 50px) * 0.6);
        height: 25px;
        font-size: 15px;

        .suggestion {
          list-style: none;
          font-size: 16px;
          font-style: normal;
          font-weight: normal;
          line-height: 49px;
          height: 50px;
          margin: 0;
          padding: 0 0 0 16px;

          // letter-spacing: -0.6px;
          color: rgba(0, 0, 0, 0.87);
          background: white;
        }

        .suggestionHighlighted {
          background: #dfe5e8;
        }

        .suggestionsContainerOpen {
          position: absolute;
          z-index: index($zindex, 'autosuggest-suggestion-container');
          max-height: 250px;
          overflow-x: hidden;
          overflow-y: scroll;
          border-radius: 5px;
          box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.06);
          border: 1px rgba(0, 0, 0, 0.1) solid;
          top: 42px;
          left: -2px;
          width: 100%;
          font-size: 16px;
          line-height: 1;
          color: rgba(0, 0, 0, 0.87);

          ul {
            padding: 0;
            margin: 0;
          }
        }

        // autosuggest
        .input {
          box-shadow: none;
          border: none;
          background: none;
          font-size: 16px;
          font-weight: var(--font-weight-medium);
          height: 25px;
          display: inline-block;
          font-family: inherit;
          line-height: 1.33;
          padding-left: 46px;

          &:focus {
            outline: none;
            border: none;
            background: none;
          }
        }
      }
    }
  }

  .buttons-row {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: var(--font-weight-medium);

    button {
      background-color: white;
      font-family: inherit;
      font-weight: var(--font-weight-medium);
      font-size: 16px;
      letter-spacing: -0.02em;
      width: 100%;
      border-radius: 50px;
      height: 40px;
      color: var(--color);
      border: 1px solid #888;

      &.ready-button {
        color: white;
        background-color: var(--color);
        border: none;
        margin-bottom: 10px;
      }
    }
  }
}
