@import './page-sections/places/places.scss';

.explore {
    margin-top: 35px;
    display: flex;
    position: relative;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 20px;
    padding: 20px 0 $mobile-navigation-bar-height 16px;
    overflow-y: auto;

    @media (min-width: 900px) {
        margin-top: 88px;
        row-gap: 24px;
        padding-left: 24px;
    }
}