@mixin animate($animation,$duration,$method,$times){
    animation: $animation $duration $method $times;
}

@mixin keyframes($name){
    @keyframes #{$name}{
        @content;
    }
}

.skeleton {
    @include keyframes(pulse){
        50% {
            opacity: .5;
        }
    }
    @include animate(pulse, 2s, cubic-bezier(0.4, 0, 0.6, 1), infinite);

    display: flex;
    position: relative;
    background: $grey-medium;
    overflow: hidden;
}