.share-button-container {
  padding: 0;
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 2px;
  justify-content: space-between;
  align-items: center;

  .share {
      display: flex;
      position: relative;
      padding: 0;
      justify-content: center;
      cursor: pointer;
    
      .icon {
          display: flex;
          position: relative;
          width: 30px;
          height: 30px;
    
          @media (min-width: 900px) {
              width: 35px;
              height: 35px;
          }

          &.share {
            color: $background-default;
            width: 27px;
            height: 27px;

            @media (min-width: 900px) {
              width: 30px;
              height: 30px;
          }
          }

          &.share-with-background {
            color: $primary-color;
          }
      }
  }

  .description {
    margin: 0;
    display: flex;
    position: relative;
    color: $background-default;
    font-weight: $font-weight-regular;
    font-size: $font-size-label;

    @media (min-width: 900px) {
        font-size: $font-size-s;
    }
  }
}
