@import '../default/theme';

// pallete
$primary-main: #000f9f;
$primary-light: #cfdbe8;
$primary-dark: #00095f;
$primary-contrastText: #fafafa;
$gradient: linear-gradient(180deg, $primary-dark 0%, rgba(0, 9, 95, 0.75) 100%);

/* fonts */
$font-family: 'Open Sans', arial, georgia, serif;
$heading-font-family: $font-family;
$button-font-family: $font-family;
$font-family-narrow: $font-family;

/* main theme colors */
$primary-color: $primary-dark;
$secondary-color: darken($primary-color, 20%);
$link-color: $primary-color;
$metro-color: $primary-color;